In [1]:
#installed with pip
from pandas import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
from email.message import EmailMessage

# built-in libraries
import csv
import datetime
import os.path
import re
import smtplib
import sqlite3

In [2]:
filename = 'testlist2.csv'

cols = [
    'timestamp',
    'venue',
    'streetaddy',
    'cityaddy',
    'phone',
    'karaoke',
    'karadays',
    'karastart',
    'karaend',
    'performer_1',
    'genre_1',
    'date_1',
    'start_1',
    'end_1',
    'cost',
    'photo',
    'performer_2',
    'genre_2',
    'date_2',
    'start_2',
    'performer_3',
    'genre_3',
    'date_3',
    'start_3',
    'performer_4',
    'genre_4',
    'date_4',
    'start_4',
    'performer_5',
    'genre_5',
    'date_5',
    'start_5',
    'performer_6',
    'genre_6',
    'date_6',
    'start_6',
    'performer_7',
    'genre_7',
    'date_7',
    'start_7'
]

df = pd.read_csv(filename,
                 usecols=[0, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,
                          15, 16, 17, 18, 19, 20, 21, 22, 23, 24,
                          25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
                          35, 36, 37, 38, 39, 40, 41,42],
                 names=cols,
                 dtype=object,
                 encoding="ISO-8859-1")
df = df.drop(df.index[0])
df.venue = df.venue.str.upper()
df.streetaddy = df.streetaddy.str.replace('Rd', 'Road')
df.phone = df.phone.str.replace(r'1([0-9]{3})([0-9]{3})([0-9]{4})$' ,
                              r'\1-\2-\3', regex=True) #like 13523745035
df.phone = df.phone.str.replace(r'/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/',
                              r'\1-\2-\3', regex=True) #like (352) 374-5035
#df.karastart = pd.to_datetime(df.karastart)
#df.karastart = df.karastart.dt.strftime('%I:%M %p')
#df.karaend = pd.to_datetime(df.karaend)
#df.karaend = df.karaend.dt.strftime('%I:%M %p')
#df.start_1 = pd.to_datetime(df.start_1)
#df.start_1 = df.start_1.dt.strftime('%I:%M %p')
#df.end_1 = pd.to_datetime(df.end_1)
#df.end_1 = df.end_1.dt.strftime('%I:%M %p')
#df.start_2 = pd.to_datetime(df.start_2)
#df.start_2 = df.start_2.dt.strftime('%I:%M %p')
#df.start_3 = pd.to_datetime(df.start_3)
#df.start_3 = df.start_3.dt.strftime('%I:%M %p')
#df.start_4 = pd.to_datetime(df.start_4)
#df.start_4 = df.start_4.dt.strftime('%I:%M %p')
#df.start_5 = pd.to_datetime(df.start_5)
#df.start_5 = df.start_5.dt.strftime('%I:%M %p')
#df.start_6 = pd.to_datetime(df.start_6)
#df.start_6 = df.start_6.dt.strftime('%I:%M %p')
#df.start_7 = pd.to_datetime(df.start_7)
#df.start_7 = df.start_7.dt.strftime('%I:%M %p')
#df.date_1 = pd.to_datetime(df.date_1)
#df.date_1 = df.date_1.dt.strftime('')

In [3]:
df.head()

,timestamp,venue,streetaddy,cityaddy,phone,karaoke,karadays,karastart,karaend,performer_1,...,date_5,start_5,performer_6,genre_6,date_6,start_6,performer_7,genre_7,date_7,start_7
1,2019/03/04 8:44:24 AM EST,THE CORKSCREW,16 SW Broadway St,Ocala,352-402-0158,"Performance (individual, duet or band)",NaN,19:00,22:00,Charlie and Stephanie Ford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019/03/05 9:46:50 AM EST,GOOD TIME BAR & GRILL,8921 E. Hwy 25,Belleview,352-203-5445,Karaoke,NaN,21:00,01:00,Good 2 Go,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019/03/05 10:49:38 AM EST,OCALA NEWSROOM,2121 SW 19th Ave. Road,Ocala,352-867-4120,Yes,Monday;Tuesday;Wednesday;Thursday,21:00,00:00,Youngblood's Ragtime Band,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
db_file = 'submissions_db.sqlite'
submit_table = 'submissions'
venue_table = 'venues'

var = 
var = list(df.intertuples(index='venue', name=None))
conn = sqlite3.connect(db_file,detect_types=sqlite3.PARSE_DECLTYPES)
c = conn.cursor()

c.executemany('''INSERT OR IGNORE INTO submit_table (librow, timestamp,
    venue, streetaddy, cityaddy, phone, karaoke, karadays, karastart,
    karaend, performer_1, genre_1, date_1, start_1, end_1, cost,
    photo, performer_2, genre_2, date_2, start_2, performer_3,
    genre_3, date_3, start_3, performer_4, genre_4, date_4,
    start_4, performer_5, genre_5, date_5, start_5, performer_6,
    genre_6, date_6, start_6, performer_7, genre_7, date_7, start_7) 
    VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,)''', var)
conn.commit()

AttributeError: 'DataFrame' object has no attribute 'intertuples'

In [7]:
from sqlalchemy import create_engine

engine = create_engine(db_file)
df.to_sql(name='submissions',con=engine,if_exists='append')

ArgumentError: Could not parse rfc1738 URL from string 'submissions_db.sqlite'

In [6]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
 
    return None

In [ ]:
db_file = 'submissions_db.sqlite'
submit_table = 'submissions'
venue_table = 'venues'

conn = sqlite3.connect(db_file,detect_types=sqlite3.PARSE_DECLTYPES)
c = conn.cursor()